<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= (pageTitle ? `${pageTitle} - ` : '') + metaSiteName %></title>

<meta name="description" content="<%= metaDescription %>" />

<meta name="theme-color" content="<%= metaThemeColor %>" />

<meta property="og:site_name" content="<%= metaSiteName %>" />
<meta property="og:title" content="<%= metaTitle %>" />
<meta property="og:description" content="<%= metaDescription %>" />

<% if (metaImage) { %>
    <meta property="og:image" content="<%= metaImage %>" />
    <meta name="twitter:image" content="<%= metaImage %>" />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
<% } %>

<link rel="icon" href="/assets/images/logo.png">

<!-- List two preconnects for src.kaysting.dev to properly optimize fonts and css loading -->
<link rel="preconnect" href="https://src.kaysting.dev" />
<link rel="preconnect" href="https://src.kaysting.dev" crossorigin />

<link rel="stylesheet" href="https://src.kaysting.dev/v4/css/base.css" />

<link rel="stylesheet" href="https://src.kaysting.dev/fonts/poppins.css" />
<link rel="stylesheet" href="https://src.kaysting.dev/fonts/fira-code.css" />
<link rel="stylesheet" href="https://src.kaysting.dev/fonts/material-symbols.css" />

<!-- Load app styles before utils -->
<% for( const fileName of [...css, ...cssLocal] ) { %>
    <link rel="stylesheet" href="<%= asset(`/assets/css/${fileName}.css`) %>" />
<% } %>

<link rel="stylesheet" href="https://src.kaysting.dev/v4/css/utils.css" />

<script src="https://src.kaysting.dev/v4/js/base.js" defer></script>
<% for( const fileName of [...js, ...jsLocal] ) { %>
    <script src="<%= asset(`/assets/js/${fileName}.js`) %>" defer></script>
<% } %>