<%
    // Generate a random ID if one isn't provided
    const id = locals.id ?? `textbox-${utils.randomHex()}`;
    const symbol = locals.symbol ?? '';
    const symbolOutlined = locals.symbolOutlined ?? false;
    const label = locals.label ?? '';
    const type = locals.type ?? 'text';
    const placeholder = locals.placeholder ?? '';
    const value = locals.value ?? '';
    const name = locals.name ?? '';
    // If a label is present, default to vertical layout
    const vertical = locals.vertical ?? !!label;
    const multiline = locals.multiline ?? false;
    const rows = locals.rows ?? 3;
    const expandable = locals.expandable ?? true;
    // Dynamic (variable height) is always true with vertical or multiline
    const dynamic = locals.dynamic ?? (vertical || multiline);
    // Default size to medium if using vertical layout
    // The default size is the same height so :shrug:
    const size = locals.size ?? (vertical ? 'medium' : null) ?? '';
    const width = locals.width ?? '';
    // Accept any extra input element attributes as key value pairs
    const attrs = (locals.attrs ?? {});
    const attrsStr = Object.entries(attrs)
        .map(([key, value]) => `${key}="${String(value).replace(/"/g, '&quot;')}"`)
        .join(' ');
    // Default validity to null
    // true makes the outline green, false makes it red
    const valid = locals.valid ?? null;
%>

<div
    class="textbox
        <%= size %> <%= dynamic ? 'dynamic' : '' %>
        <%= attrs.disabled ? 'disabled' : '' %>
        <%= valid === false ? 'danger' : valid === true ? 'success' : '' %>"
    style="width: <%= width ? `${width}px` : 'auto' %>"
>
    <% if (symbol) { %>
        <span class="symbol <%= symbolOutlined ? '' : 'filled' %>"><%= symbol %></span>
    <% } %>

    <% if (vertical) { %>
        <div class="vertical">
    <% } %>

            <% if (label) { %>
                <label for="<%= id %>"><%= label %></label>
            <% } %>

            <% if (multiline) { %>
                <textarea
                    name="<%= name %>"
                    id="<%= id %>"
                    placeholder="<%= placeholder %>"
                    rows="<%= rows %>"
                    data-expandable="<%= expandable %>"
                    <%- attrsStr %>
                ><%= value %></textarea>
            <% } else { %>
                <input
                    type="<%= type %>"
                    id="<%= id %>"
                    name="<%= name %>"
                    placeholder="<%= placeholder %>"
                    value="<%= value %>"
                    <%- attrsStr %>
                />
            <% } %>

    <% if (vertical) { %>
        </div>
    <% } %>
</div>
