<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= (pageTitle ? `${pageTitle} - ` : '') + metaSiteName %></title>

        <meta name="description" content="<%= metaDescription %>" />

        <meta name="theme-color" content="<%= metaThemeColor %>" />

        <meta property="og:site_name" content="<%= metaSiteName %>" />
        <meta property="og:title" content="<%= metaTitle %>" />
        <meta property="og:description" content="<%= metaDescription %>" />

        <% if (metaImage) { %>
            <meta property="og:image" content="<%= metaImage %>" />
            <meta name="twitter:image" content="<%= metaImage %>" />

            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
            <meta name="twitter:card" content="summary_large_image" />
        <% } %>

        <link rel="icon" href="/assets/images/logo.png">

        <link rel="stylesheet" href="/assets/css/material-symbols.css" />
        <link rel="stylesheet" href="/assets/css/base.css" />
        <link rel="stylesheet" href="/assets/css/layout.css" />
        <link rel="stylesheet" href="/assets/css/utils.css" />

        <script src="/assets/js/base.js"></script>
        <script src="/assets/js/layout.js"></script>
    </head>
    <body>
        
        <script>
            // Immediately determine if the sidebar was hidden previously and re-hide it
            // Do this in a closure to keep global scope clean :)
            (() => {
                // make it hidden by default for now
                const isSidebarHidden = window.localStorage.getItem('isSidebarHidden') || 'true';
                if (isSidebarHidden === 'true') {
                    document.body.classList.add('sidebarHidden');
                }
            })()
        </script>

        <div id="sidebarDimming"></div>
        <div id="layout">
            <div id="sidebar" class="flex col no-select">
                <div class="top flex justify-center">
                    <span class="text-accent text-20 text-medium"><%= metaSiteName %></span>
                </div>
                <div class="scroll flex col gap-4">
                    <% for (const item of sidebar) { %>
                        <% if (item.header) { %>
                            <div class="header text-14 text-muted text-bold"><%= item.header %></div>
                        <% } else { %>
                            <a href="<%= item.href %>" class="btn <%= item.id == pageId ? 'tertiary' : 'text secondary' %> justify-start">
                                <span class="symbol filled"><%= item.symbol %></span>
                                <span class="label"><%= item.label %></span>
                            </a>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div id="content">
                <div id="topbar" class="flex gap-24 align-center no-select">
                    <button id="sidebarToggle" class="btn text circle medium">
                        <span class="symbol">menu</span>
                    </button>
                    <div class="flex gap-16 align-center">
                        <% if (pageSymbol) { %>
                            <span class="symbol filled text-secondary text-24"><%= pageSymbol %></span>
                        <% } %>
                        <% if (pageTitle) { %>
                            <span class="title text-secondary text-14"><%= pageTitle %></span>
                        <% } %>
                    </div>
                </div>
                <main id="page-<%= pageId %>" class="slide-fade-up"><%- body %></main>
            </div>
        </div>
    </body>
</html>
