<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Resume</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="/assets/utils.css" />
        <link rel="stylesheet" href="/assets/material-symbols.css" />
        <link rel="stylesheet" href="/resume/index.css" />
    </head>
    <body>
        <main class="flex col gap-24">
            <div id="top" class="flex col gap-8 justify-center text-center">
                <div class="flex col gap-4">
                    <div id="title"><%= data.title %></div>
                    <div id="subtitle"><%= data.subtitle %></div>
                </div>
                <div id="chips" class="flex gap-8 flex-wrap justify-center">
                    <% for (const chip of data.chips) { %>
                        <div class="chip flex gap-8 align-center">
                            <% if (chip.symbol) { %>
                                <div class="symbol"><%= chip.symbol %></div>
                            <% } else if (chip.icon) { %>
                                <img src="<%= chip.icon %>" class="icon">
                            <% } %>
                            <% if (chip.link) { %>
                                <a href="<%= chip.link %>" class="label"><%= chip.label || chip.link %></a>
                            <% } else { %>
                                <div class="label"><%= chip.label %></div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div>
                <div class="header">
                    <!-- symbol: school -->
                    <div class="symbol">&#xe80c;</div> 
                    <div class="text">Education</div>
                </div>
                <div class="section">
                    <% for (const entry of data.education) { %>
                        <div class="content">
                            <div class="accent"><%= entry.start %> - <%= entry.end %> in <%= entry.location %></div>
                            <div class="title"><%= entry.degree %></div>
                            <div><%= entry.institution %></div>
                        </div>
                    <% } %>
                </div>
                <div class="header">
                    <!-- symbol: school -->
                    <div class="symbol">&#xfff8b;</div> 
                    <div class="text">Technical Skills</div>
                </div>
                <div class="section">
                    <div class="content">
                    <% for (const entry of data.skills) { %>
                        <p>
                            <span class="accent"><%= entry.type %>:</span>
                            <span><%= entry.content %></span>
                        </p>
                    <% } %>
                    </div>
                </div>
                <div class="header">
                    <!-- symbol: school -->
                    <div class="symbol">&#xeb3f;</div> 
                    <div class="text">Professional Experience</div>
                </div>
                <div class="section">
                    <% for (const entry of data.employment) { %>
                        <div class="content">
                            <div class="accent"><%= entry.start %> - <%= entry.end %> at <%= entry.company %> <%= entry.location ? `in ${entry.location}` : '' %></div>
                            <div class="title"><%= entry.title %></div>
                            <% if (typeof entry.description == 'object') { %>
                                <ul>
                                    <% for (const item of entry.description) { %>
                                        <li><%= item %></li>
                                    <% } %>
                                </ul>
                            <% } else { %>
                                <p><%= entry.description %></p>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div class="header">
                    <!-- symbol: school -->
                    <div class="symbol">&#xeb9b;</div> 
                    <div class="text">Key Projects</div>
                </div>
                <div class="section">
                    <% for (const entry of data.projects) { %>
                        <div class="content">
                            <div class="accent"><%= entry.stack %></div>
                            <div class="title"><%= entry.name %></div>
                            <% if (typeof entry.description == 'object') { %>
                                <ul>
                                    <% for (const item of entry.description) { %>
                                        <li><%= item %></li>
                                    <% } %>
                                </ul>
                            <% } else { %>
                                <p><%= entry.description %></p>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
</html>
