<div>
    <h1>UI Testing</h1>
    <p>This page tests various UI elements.</p>
    <p><b>Here's some bold text</b></p>
    <p class="text-secondary text-monospace text-15">
        This is another paragraph but a little dimmer and smaller and monospace :3
    </p>
    <p>Oh and this is a paragraph that has <a href="https://google.com">a link to Google</a>!</p>
    <h2 class="text-accent">Buttons</h2>
    <%
        const buttonSizes = ['small', 'default', 'medium', 'large']
        const buttonTypes = [
            { class: 'primary', icon: 'add', label: 'Create' },
            { class: 'secondary', icon: 'pause', label: 'Pause' },
            { class: 'danger', icon: 'delete', label: 'Delete' },
            { class: 'tertiary', icon: 'close', label: 'Close' },
            { class: 'text', icon: 'help', label: 'Need help?' },
            { class: 'text danger', icon: 'flag', label: 'Report' },
            { class: 'text secondary', icon: 'close', label: 'Clear' },
            { class: 'outline', icon: 'help', label: 'Need help?' },
            { class: 'outline danger', icon: 'error', label: 'Errors' },
            { class: 'outline secondary', icon: 'refresh', label: 'Refresh' },
            { class: 'outline tertiary', icon: 'close', label: 'Exit' },
        ]
    %>
    <div class="table-container">
        <table>
            <thead>
                <th></th>
                <% for( const size of buttonSizes ) { %>
                    <th class="text-center"><%= size %></th>
                <% } %>
            </thead>
            <tbody>
                <% for( const type of buttonTypes ) { %>
                    <tr>
                        <th scope="row"><%= type.class %></th>
                        <% for( const size of buttonSizes ) { %>
                            <td class="text-center">
                                <button class="btn <%= type.class %> <%= size %>">
                                    <div class="symbol filled"><%= type.icon %></div>
                                    <div class="label"><%= type.label %></div>
                                </button>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <h2>Inputs</h2>
    <div class="flex col gap-8">
        <div class="textbox small" style="width: 300px">
            <span class="symbol">search</span>
            <input type="text" name="" id="" placeholder="Type something...">
        </div>
        <div class="textbox" style="width: 300px">
            <span class="symbol">search</span>
            <input type="text" name="" id="" placeholder="Type something...">
        </div>
        <div class="textbox medium" style="width: 300px">
            <span class="symbol">search</span>
            <input type="text" name="" id="" placeholder="Type something...">
        </div>
        <div class="textbox large" style="width: 300px">
            <span class="symbol">search</span>
            <input type="text" name="" id="" placeholder="Type something...">
        </div>
        <div class="textbox" style="width: 300px">
            <label for="">Search</label>
            <input type="text" name="" id="" placeholder="Type something...">
        </div>
        <div class="flex gap-8">
            <div class="textbox" style="width: 100px">
                <label>H</label>
                <input type="number" placeholder="0">
            </div>
            <div class="textbox" style="width: 100px">
                <label>S</label>
                <input type="number" placeholder="0">
            </div>
            <div class="textbox" style="width: 100px">
                <label>L</label>
                <input type="number" placeholder="0">
            </div>
            <div class="textbox disabled" style="width: 100px">
                <label>O</label>
                <input type="number" placeholder="0" disabled>
            </div>
            <button class="btn">Save</button>
        </div>
        <div class="textbox medium" style="width: 200px">
            <label for="">HEX</label>
            <input type="text" name="" id="" placeholder="#rrggbb">
            <button class="btn text small circle">
                <span class="symbol">content_copy</span>
            </button>
        </div>
        <div class="textbox dynamic" style="width: 600px">
            <textarea placeholder="Write an essay" rows="3"></textarea>
        </div>
        <div class="flex row gap-8 flex-wrap">
            <div class="textbox medium dynamic" style="width: 300px">
                <span class="symbol">person</span>
                <div class="vertical">
                    <label for="">Name</label>
                    <input type="text" name="" id="" placeholder="Kayla">
                </div>
            </div>
            <div class="textbox medium dynamic" style="width: 300px">
                <div class="vertical">
                    <label for="">User ID</label>
                    <input type="text" name="" id="" placeholder="12345">
                </div>
            </div>
        </div>
    </div>
    <h2>Cards</h2>
    <div class="flex col gap-8">
        <div class="card">
            <p>meow meow meow</p>
        </div>
        <div class="card surface">
            <h4>This card has a background :3</h4>
        </div>
        <div class="card hoverable">
            <p>And this card only shows its background when hovered over. Useful for when you want a card to be clickable!</p>
        </div>
        <div class="card sectional">
            <div class="section">
                <p>meow meow</p>
            </div>
            <div class="section">
                <p>Another section</p>
            </div>
            <div class="section flex gap-8">
                <button class="btn small">
                    <div class="symbol filled">send</div>
                    <div class="label">Start</div>
                </button>
                <button class="btn small text danger">
                    <div class="symbol">close</div>
                    <div class="label">Cancel</div>
                </button>
            </div>
        </div>
        <div class="card sectional">
            <div class="section surface">
                <p><b>Silly title</b></p>
            </div>
            <div class="section">
                <p>This sectioned card has a filled first section!</p>
            </div>
        </div>
        <div class="card spacious">
            <h3>This card is spacious</h3>
            <p>So it's suitable for longform content like documentation or a blog post!</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>

<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
        </div>
    </div>

    <style>
        main {
            width: 1200px
        }
    </style>
</div>
